.background {
    background-color: #222;
    display: flex;
    justify-content: center;
}

.imageContainer {
    height: 100vh;
    width: 30vw;
}

.imageContainer img {
    height: 100vh;
}

.mainForm {
    background-color: #eee;
    height: 100vh;
    width: 50vw;
}

.description {
    padding: 50px;
    font-size: 24px;
}

.userInfo {
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

label {
    font-size: small;
}

.inputRow {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.createAccount {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.createAccountButton {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #596D48;
    color: white;
    border-radius: 4px;
}

.login {
    padding-left: 50px;
}

input:invalid {
    border-color: red;
}